
@model Cumulative_1.Models.Teacher

<h1>Teacher all information</h1>


<h1>@Model.TeacherFName @Model.TeacherLName</h1>
<p>@Model.EmployeeNumber</p>
<p>@Model.HireDate.ToString("yyyy-M-d")</p>
<p>@Model.Salary</p>